[submodule "mutt-colors-solarized"]
	path = mutt/colors/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "tmux-colors-solarized"]
	path = tmux/colors/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "dircolors-solarized"]
	path = dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "mintty-colors-solarized"]
	path = mintty/colors/mintty-colors-solarized
	url = https://github.com/mavnn/mintty-colors-solarized
[submodule "vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
